body {
  font-family: HK Grotesk;
}
h1 {
  margin-left: 10%;
  font-size: 40pt;
}
p {
  margin-left: 10%;
  font-size: 17pt;
}

tab {
  margin-left: 50%;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.plainbtn {
  font-family: HK Grotesk;
  padding: 1rem 1rem;
  font-size: 1.9rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: 10%;
}

/* Our remix on glitch button */
.secondarybtn {
  font-family: HK Grotesk;
  padding: 1rem 1rem;
  font-size: 1.9rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #25C197;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: 1%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1.5pt solid #e7e7e7;
  background-color: transparent;
  color:black;
}
body {
  margin: 0;
}
li {
  float: left;
}

li a {
  display: block;
  font-size: 17pt;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
}

li a.active {
  color: black;
  font-weight: 900;
}
[href]:hover {
/*   font-weight:600; */
  filter: brightness(85%);
  transition: ease-in-out filter 0.2s;
}

.special:hover {
  background-color: transparent;
}

form {
  background-color: transparent;
  border: solid 0.3pt grey;
  border-radius: 5px;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  width: 50%;
  /*   length:900pt; */
  /*   max-width: 40ch; */
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  border-radius: 5px;

  margin-bottom: 10px;
  padding: 5px;
  width: 90%;
}
textarea {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 500pt;
  height: 50pt;
}

label {
  font-size: 1.2rem;
}

input:read-only {
  filter: brightness(85%);
  transition: ease-in-out filter 0.2s;
}
